<form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
  <div class="modal-columns">
    <!-- Primera columna -->
    <div class="modal-column">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre" required>
        <span *ngIf="isValidFieldHotel('nombre')" class="form-text text-danger">{{ getFieldErrorHotel('nombre') }}</span>
      </div>
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" id="direccion" placeholder="Dirección" formControlName="direccion" required>
        <span *ngIf="isValidFieldHotel('direccion')" class="form-text text-danger">{{ getFieldErrorHotel('direccion') }}</span>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" placeholder="Teléfono" formControlName="telefono" required>
        <span *ngIf="isValidFieldHotel('telefono')" class="form-text text-danger">{{ getFieldErrorHotel('telefono') }}</span>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" required>
        <span *ngIf="isValidFieldHotel('email')" class="form-text text-danger">{{ getFieldErrorHotel('email') }}</span>
      </div>
      <div class="form-group">
        <label for="sitioWeb">Sitio Web</label>
        <input type="text" class="form-control" id="sitioWeb" placeholder="Sitio Web" formControlName="sitioWeb" required>
        <span *ngIf="isValidFieldHotel('sitioWeb')" class="form-text text-danger">{{ getFieldErrorHotel('sitioWeb') }}</span>
      </div>
    </div>

    <!-- Segunda columna -->
    <div class="modal-column">
      <div class="form-group">
        <label for="ciudad">Ciudad</label>
        <input type="text" class="form-control" id="ciudad" placeholder="Ciudad" formControlName="ciudad" required>
        <span *ngIf="isValidFieldHotel('ciudad')" class="form-text text-danger">{{ getFieldErrorHotel('ciudad') }}</span>
      </div>
      <div class="form-group">
        <label for="pais">País</label>
        <input type="text" class="form-control" id="pais" placeholder="País" formControlName="pais" required>
        <span *ngIf="isValidFieldHotel('pais')" class="form-text text-danger">{{ getFieldErrorHotel('pais') }}</span>
      </div>
      <div class="form-group">
        <label for="continente">Continente</label>
        <input type="text" class="form-control" id="continente" placeholder="Continente" formControlName="continente" required>
        <span *ngIf="isValidFieldHotel('continente')" class="form-text text-danger">{{ getFieldErrorHotel('continente') }}</span>
      </div>
      <div class="form-group">
        <label for="categoriaServicio">Servicios</label>
        <div *ngFor="let categoria of categorias">
          <input type="checkbox" [value]="categoria" (change)="onCheckboxChange($event)"
            [checked]="isChecked(categoria)" />
          {{ categoria }}
        </div>
        <span *ngIf="isValidFieldHotel('categoria')" class="form-text text-danger">{{ getFieldErrorHotel('categoria')
          }}</span>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button type="submit" class="btn btn-primary">Siguiente</button>
    <button type="button" class="btn btn-secondary" (click)="ocultarModalEditarHotel()">Cancelar</button> 
  </div>
</form>



<app-notification [showNotification]="showCrearHotelNotification" message="Hotel creado con éxito"
  [color]="true"></app-notification>
<app-notification [showNotification]="showCrearHotelErrorNotification" message="No tienes permisos para crear un hotel"
  [color]="false"></app-notification>
