<div class="modal-columns">

    <!-- Primera columna para datos básicos del hotel -->
    <div class="modal-column">
      <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" #nombreInput required formControlName="nombre">
        <span *ngIf="isValidFieldHotel('nombre')" class="form-text text-danger">{{ getFieldErrorHotel('nombre') }}</span>
      </div>
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" id="direccion" placeholder="Dirección" #direccionInput required formControlName="direccion">
        <span *ngIf="isValidFieldHotel('direccion')" class="form-text text-danger">{{ getFieldErrorHotel('direccion') }}</span>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" placeholder="Teléfono" #telefonoInput required formControlName="telefono">
        <span *ngIf="isValidFieldHotel('telefono')" class="form-text text-danger">{{ getFieldErrorHotel('telefono') }}</span>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" #emailInput required formControlName="email">
        <span *ngIf="isValidFieldHotel('email')" class="form-text text-danger">{{ getFieldErrorHotel('email') }}</span>
      </div>
      <div class="form-group">
        <label for="sitioWeb">Sitio Web</label>
        <input type="text" class="form-control" id="sitioWeb" placeholder="Sitio Web" #sitioWebInput required formControlName="sitioWeb">
        <span *ngIf="isValidFieldHotel('sitioWeb')" class="form-text text-danger">{{ getFieldErrorHotel('sitioWeb') }}</span>
      </div>
      <div class="form-group">
        <label for="categoriaServicio">Categorías</label>
        <div *ngFor="let categoria of categorias">
          <input
            type="checkbox"
            [value]="categoria"
            (change)="onCheckboxChange($event)"
            [checked]="isChecked(categoria)"
          />
          {{ categoria }}
        </div>
        <span *ngIf="isValidFieldHotel('categoria')" class="form-text text-danger">{{ getFieldErrorHotel('categoria') }}</span>
      </div>
    </form>
    </div>

  <!-- Segunda columna para servicios, habitaciones y huéspedes -->
  <div class="modal-column">
    <h6 class="añadir-habitacion" (click)="mostrarFormularioHabitacion()">Añadir habitación</h6>
    <div id="formulario-habitacion" class="formulario">
      <form [formGroup]="habitacionForm">
      <div class="form-group">
        <label for="numeroHabitacion">Número</label>
        <input type="number" class="form-control" id="numeroHabitacion" placeholder="Número" #numeroHabitacion required formControlName="numero" />
        <span *ngIf="isValidFieldHabitacion('numero')" class="form-text text-danger">{{ getFieldErrorHabitacion('numero') }}</span>
      </div>
      <div class="form-group">
        <label for="tipoHabitacion">Tipo de habitación</label>
        <select class="form-control" id="tipoHabitacion" #tipoHabitacion required formControlName="tipoHabitacion">
          <option value="" selected disabled>Elige un tipo de habitación</option>
          <option value="INDIVIDUAL">Individual</option>
          <option value="DOBLE">Doble</option>
          <option value="CUADRUPLE">Cuádruple</option>
          <option value="SUITE">Suite</option>
        </select>
        <span *ngIf="isValidFieldHabitacion('tipoHabitacion')" class="form-text text-danger">{{ getFieldErrorHabitacion('tipoHabitacion') }}</span>
      </div>
      <div class="form-group">
        <label for="precioHabitacion">Precio</label>
        <input type="number" class="form-control" id="precioHabitacion" placeholder="Precio por noche" #precioHabitacion required formControlName="precio" />
        <span *ngIf="isValidFieldHabitacion('precio')" class="form-text text-danger">{{ getFieldErrorHabitacion('precio') }}</span>
      </div>
      <button type="button" (click)="agregarHabitacion()" class="btn btn-glow-primary btn-primary">Agregar habitación</button>
    </form>
    </div>
  </div>
</div>
<div class="button-container">
  <button type="button" (click)="onSubmit()" class="btn btn-glow-primary btn-primary">Crear Hotel</button>
  <button type="button" class="btn btn-glow-secondary btn-secondary" (click)="ocultarModalEditarHotel()">Cancelar</button>
</div>


<app-notification [showNotification]="showCrearHotelNotification" message="Hotel creado con éxito" [color]="true"></app-notification>
<app-notification [showNotification]="showCrearHotelErrorNotification" message="No tienes permisos para crear un hotel" [color]="false"></app-notification>

