<div class="padding">
  <app-spinner *ngIf="isSpinnerVisible"></app-spinner>
  <div class="search-filter-container">
    <!-- Fila de Inputs -->
    <div class="form-row">
      <div class="form-group">
        <label for="checkin">Check-in</label>
        <input type="date" id="checkin" [(ngModel)]="checkIn">
      </div>

      <div class="form-group">
        <label for="checkout">Check-out</label>
        <input type="date" id="checkout" [(ngModel)]="checkOut">
      </div>

      <app-range-slider
        [min]="0"
        [max]="1000"
        [initialMinValue]="precioMin ? precioMin : 0"
        [initialMaxValue]="precioMax ? precioMax : 1000"
        (rangeChange)="onRangeChange($event)"
      ></app-range-slider>

      <div class="form-group">
        <label for="ocupacion">Ocupación</label>
        <select id="ocupacion" [(ngModel)]="ocupacion">
          <option value="" disabled selected>Seleccione la ocupación</option>
          <option *ngFor="let tipo of ocupacionArray" [value]="tipo">{{ tipo }}</option>
        </select>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Servicios</mat-label>
        <mat-select [(ngModel)]="servicios" multiple>
          <mat-option *ngFor="let servicio of serviciosArray" [value]="servicio.key">{{ servicio.key }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Fila de Botones -->
    <div class="button-container">
      <button mat-raised-button class="button-blue" (click)="buscarHabitaciones()">Buscar</button>
      <button mat-raised-button color="warn" (click)="limpiarFiltros()">Limpiar</button>
    </div>
  </div>

  
  <h3>{{totalItems}} Habitacion(es) encontradas</h3>

  <div class="hoteles-lista">
    <div class="hotel-card" *ngFor="let habitacion of habitaciones">
      <img [src]="'/assets/images/habitaciones/' + habitacion.tipoHabitacion.toLowerCase() + '/' + habitacion.foto" alt="{{ habitacion.numero }}">
      <div class="hotel-info">
        <h3>Habitación - {{ habitacion.numero }}</h3>
        <p>Tipo: {{ habitacion.tipoHabitacion }}</p>
        <p>Precio: {{ habitacion.precioNoche }}€</p>
        <p *ngIf="habitacion.servicios && habitacion.servicios.length > 0">Servicios: {{ habitacion.servicios.join(', ') }}</p>
        <button mat-raised-button class="button-blue ver-disponibilidad-button" (click)="goToReservar(habitacion.id)">Reservar</button>
      </div>
    </div>
  </div>
  <div class="pagination-container">
    <app-pagination [totalItems]="totalItems" (pageChange)="onPageChange($event)"
                    (itemsPerPageChange)="onItemPerPageChange($event)">
    </app-pagination>
  </div>
</div>


