<form [formGroup]="huespedForm" (ngSubmit)="onSubmit()">
  <div class="modal-columns">
    <div class="modal-column">

      <div class="form-group">
        <label for="nombreCompleto">Nombre Completo</label>
        <input type="text" class="form-control" id="nombreCompleto" placeholder="Nombre Completo" #nombreCompletoInput
          required formControlName="nombreCompleto"/>
          <div *ngIf="huespedForm.get('nombreCompleto')?.invalid && huespedForm.get('nombreCompleto')?.touched" class="error-message">
            El nombre completo es obligatorio.
          </div>
      </div>

      <div class="form-group">
        <label for="dni">DNI</label>
        <input type="text" class="form-control" id="dni" placeholder="DNI" #dniInput required formControlName="dni"/>
        <div *ngIf="huespedForm.get('dni')?.invalid && huespedForm.get('dni')?.touched" class="error-message">
          El DNI es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" #emailInput required formControlName="email"/>
        <div *ngIf="huespedForm.get('email')?.invalid && huespedForm.get('email')?.touched" class="error-message">
          <span *ngIf="huespedForm.get('email')?.errors?.['required']">El email es obligatorio.</span>
          <span *ngIf="huespedForm.get('email')?.errors?.['email']">Debes introducir un email válido.</span>
        </div>
      </div>

    </div>
  </div>

  <div class="button-container">
    <button type="button" (click)="onSubmit()" class="btn btn-glow-primary btn-primary"
      title="btn btn-glow-primary btn-primary" data-toggle="tooltip">Crear Huésped</button>
    <button type="button" class="btn btn-glow-secondary btn-secondary"
      (click)="ocultarModalEditarHuesped()">Cancelar</button>
  </div>

</form>

<app-notification [showNotification]="showNotification" [message]="message" [color]="color"></app-notification>
