<form (ngSubmit)="onSubmit()">
  <div class="modal-columns">
    <div class="modal-column">

      <div class="form-group">
        <label for="nombreCompleto">Nombre Completo</label>
        <input type="text" class="form-control" id="nombreCompleto" placeholder="Nombre Completo" #nombreCompletoInput
          required />
      </div>

      <div class="form-group">
        <label for="dni">DNI</label>
        <input type="text" class="form-control" id="dni" placeholder="DNI" #dniInput required />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" #emailInput required />
      </div>

      <div class="form-group">
        <label for="fechaCheckIn">Fecha Check-In</label>
        <input type="datetime-local" class="form-control" id="fechaCheckIn" placeholder="Fecha Check-In"
          #fechaCheckInInput required />
      </div>

      <div class="form-group">
        <label for="fechaCheckOut">Fecha Check-Out</label>
        <input type="datetime-local" class="form-control" id="fechaCheckOut" placeholder="Fecha Check-Out"
          #fechaCheckOutInput required />
      </div>

      <div class="form-group">
        <label for="habitacion">Habitación</label>
        <select class="form-control" id="habitacion" #habitacionSelect required>
          <option value="" selected disabled>Elige una habitación</option>
          <option *ngFor="let habitacion of habitaciones" [value]="habitacion.id">{{ habitacion.numero }} - {{
            habitacion.tipoHabitacion }}</option>
        </select>
      </div>

    </div>
  </div>

  <div class="button-container">
    <button type="button" (click)="onSubmit()" class="btn btn-glow-primary btn-primary"
      title="btn btn-glow-primary btn-primary" data-toggle="tooltip">Crear Huésped</button>
  </div>

</form>
