<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">Sign up</h3>
        <form #signupForm="ngForm">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre Completo" name="nombre" ngModel />
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" name="username" ngModel />
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email" ngModel />
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" ngModel />
          </div>
          <div class="input-group mb-4">
            <input type="date" class="form-control" placeholder="Fecha de Nacimiento" name="fechaNacimiento" ngModel />
          </div>

          <button class="btn btn-primary shadow-2 mb-4" (click)="signUp()">Sign up</button>
        </form>
        <p class="mb-0 text-muted">
          Already have an account?
          <a [routerLink]="['/auth/signin']"> Log in</a>
        </p>
      </div>
    </div>
  </div>
</div>
