<form (ngSubmit)="onSubmit()">
  <div class="modal-columns">
    <div class="modal-column">

      <div class="form-group">
        <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" #nombreInput required />
      </div>
      <div class="form-group">
        <label for="descripcion" class="col-sm-3 col-form-label">Descripción</label>
        <input type="text" class="form-control" id="descripcion" placeholder="Descripción" #descripcionInput required />
      </div>
      <div class="form-group">
        <label for="categoria" class="col-sm-3 col-form-label">Categoría</label>
        <select class="form-control" id="categoria" #categoriaSelect required>
          <option value="" selected disabled>Elige una categoría</option>
          <option value="GIMNASIO">Gimnasio</option>
          <option value="BAR">Bar</option>
          <option value="LAVANDERIA">Lavandería</option>
          <option value="KARAOKE">Karaoke</option>
          <option value="CASINO">Casino</option>
          <!-- Opciones de categoría -->
        </select>
      </div>
      <div class="form-group">
        <label for="hotel" class="col-sm-3 col-form-label">Hotel</label>
        <select class="form-control" id="hotel" #hotelSelect required>
          <option value="" selected disabled>Elige un hotel</option>
          <option *ngFor="let hotel of hoteles" [value]="hotel.id">{{ hotel.nombre }}</option>
        </select>
      </div>
      <div class="button-container">
        <button type="button" (click)="onSubmit()" class="btn btn-glow-primary btn-primary"
          title="btn btn-glow-primary btn-primary" data-toggle="tooltip">Crear Servicio</button>
          <button type="button" class="btn btn-glow-secondary btn-secondary"
      (click)="ocultarModalEditarServicio()">Cancelar</button>
      </div>

    </div>
  </div>
</form>
