<div class="col-xl-12">
  <app-spinner *ngIf="isSpinnerVisible"></app-spinner>
  <app-card cardTitle="Lista de Usuario" [options]="false" blockClass="table-border-style">
    <app-search-bar (searchEvent)="search($event)"></app-search-bar>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th (click)="order('id')" class="cursor-pointer">ID</th>
            <th (click)="order('nombre')" class="cursor-pointer">Nombre</th>
            <th (click)="order('username')" class="cursor-pointer">Username</th>
            <th (click)="order('email')" class="cursor-pointer">Email</th>
            <th (click)="order('fecha')" class="cursor-pointer">Fecha de nacimiento</th>
            <th>Roles</th>
            <th *ngIf="puedeCrear">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.fechaNacimiento }}</td>
            <td>
              <!-- Iterar sobre los roles del usuario -->
              <ng-container *ngFor="let rol of usuario.roles; let last = last">
                <span>{{ rol.nombre }}</span>
                <span *ngIf="!last">, </span>
              </ng-container>
            </td>
            <td *ngIf="puedeCrear"><span class="material-icons edit-icon" style="color: orange;"
                (click)="mostrarModalEditarCrearUsuario(usuario.id)"> edit </span>
              <span class="material-icons delete-icon" style="color: red;"
                (click)="mostrarModalEliminarUsuario(usuario.id)"> delete </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [totalItems]="totalItems" (pageChange)="onPageChange($event)"
      (itemsPerPageChange)="onItemPerPageChange($event)"></app-pagination>
  </app-card>
  <app-floating-button (click)="onFloatingButtonClick()"></app-floating-button>
</div>


<!-- Modal eliminar -->
<ng-container *ngIf="mostrarModalEliminar">
  <div class="modal">
    <div class="modal-content delete-modal">
      <span class="close" (click)="ocultarModalEliminarUsuario()">&times;</span>
      <p>¿Estás seguro de que deseas eliminar el usuario? Esta operación es irreversible.</p>
      <div class="button-container">
        <button class="btn btn-glow-danger btn-danger" (click)="deleteUsuario()">Aceptar</button>
        <button class="btn btn-glow-secondary btn-secondary" (click)="ocultarModalEliminarUsuario()">Cancelar</button>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal editar/crear -->

<ng-container *ngIf="mostrarModalEditarCrear">
  <div class="modal">
    <div class="modal-content edit-modal">
      <span class="close" (click)="ocultarModalEditarCrearUsuario()">&times;</span>
      <h5>{{ accionModal === 'editar' ? 'Editar Usuario' : 'Añadir Usuario' }}</h5>
      <hr>
      <ng-container *ngIf="accionModal === 'editar'; else addUsuarioForm">
        <app-edit-usuario [idUsuario]="idUsuario" (editComplete)="ocultarModalEditarCrearUsuario()"></app-edit-usuario>
      </ng-container>
      <ng-template #addUsuarioForm>
        <app-add-usuario (cancelarCrear)="ocultarModalEditarCrearUsuario()"></app-add-usuario>
      </ng-template>
    </div>
  </div>
</ng-container>

<app-notification [showNotification]="showBorrarUsuarioNotification" message="Usuario borrado con éxito"
  [color]="true"></app-notification>
<app-notification [showNotification]="showBorrarUsuarioErrorNotification"
  message="No tienes permisos para borrar un usuario" [color]="false"></app-notification>
