<div class="padding">
  <app-spinner *ngIf="isSpinnerVisible"></app-spinner>
  <div class="search-filter-container">
    <div class="form-row">


    <!-- Select para Ciudad -->
    <div class="form-group">
      <label for="ciudad">Ciudad</label>
      <select id="ciudad" [(ngModel)]="filtroCiudad" (change)="onCiudadChange()">
        <option value="" disabled selected>Seleccione una ciudad</option>
        <option *ngFor="let ciudad of ciudadesFiltradas" [value]="ciudad">{{ ciudad.toUpperCase() }}</option>
      </select>
    </div>

    <!-- Select para País -->
    <div class="form-group">
      <label for="pais">País</label>
      <select id="pais" [(ngModel)]="filtroPais" (change)="onPaisChange()">
        <option value="" disabled selected>Seleccione un país</option>
        <option *ngFor="let pais of paises" [value]="pais">{{ pais.toUpperCase() }}</option>
      </select>
    </div>

    <app-date-picker label="Check-in" [(model)]="filtroCheckIn"></app-date-picker>

    <app-date-picker label="Check-out" [(model)]="filtroCheckOut" [minDate]="filtroCheckIn || ''"></app-date-picker>

    <!--<div class="form-group">
    <app-date-picker label="Check-in" [(model)]="filtroCheckIn"></app-date-picker>
  </div>

  <div class="form-group">
    <app-date-picker label="Check-out" [(model)]="filtroCheckOut" [minDate]="filtroCheckIn || ''"></app-date-picker>
  </div>-->

    <div class="form-group">
      <label>Servicios</label>
      <mat-select [(ngModel)]="filtroServicios" multiple>
        <mat-option *ngFor="let servicio of servicios" [value]="servicio.key">{{ servicio.key }}</mat-option>
      </mat-select>
    </div>

  </div>

    <div class="button-container">
      <button mat-raised-button class="button-blue" (click)="buscarHoteles()">Buscar</button>
      <button mat-raised-button color="warn" (click)="limpiarFiltros()">Limpiar</button>
    </div>
  </div>

  <h3>{{totalItems}} Hotel(es) encontrados</h3>

  <div class="hoteles-lista">
    <div class="hotel-card" *ngFor="let hotel of hoteles">
      <img [src]="'/assets/images/hoteles/' + hotel.foto" alt="{{ hotel.nombre }}">
      <div class="hotel-info">
        <h3>{{ hotel.nombre }}</h3>
        <p>ID: {{ hotel.id }}</p>
        <p>{{ hotel.direccion }} - {{ hotel.ubicacion.ciudad  }}, {{ hotel.ubicacion.pais }}</p>
        <p *ngIf="hotel.servicios && hotel.servicios.length > 0">Servicios: {{ hotel.servicios.join(', ') }}</p>
        <p>Teléfono: {{ hotel.telefono }}</p>
        <p>Email: <a href="mailto:{{ hotel.email }}">{{ hotel.email }}</a></p>
        <p>Sitio web: <a href="{{ hotel.sitioWeb }}" target="_blank">{{ hotel.sitioWeb }}</a></p>
        <button mat-raised-button class="button-blue ver-disponibilidad-button" (click)="abrirModal(hotel.id)">Ver disponibilidad</button>
      </div>
    </div>
  </div>
  <div class="pagination-container">
    <app-pagination [totalItems]="totalItems" (pageChange)="onPageChange($event)"
                    (itemsPerPageChange)="onItemPerPageChange($event)">
    </app-pagination>
  </div>
</div>


<!-- Modal -->
<div *ngIf="hotelId" class="modal-overlay">
  <div class="modal-content">
    <button class="close-button" (click)="hotelId = null">&times;</button>
    <h3>Buscar disponibilidad</h3>

    <app-date-picker label="Check-in" [(model)]="modalCheckIn" [condition]="!modalCheckIn && formSubmitted" message="El campo Check-in es obligatorio."></app-date-picker>

    <app-date-picker label="Check-out" [(model)]="modalCheckOut" [minDate]="modalCheckIn || ''" [condition]="!modalCheckOut && formSubmitted" message="El campo Check-out es obligatorio."></app-date-picker>

    <div style="margin-bottom: 20px;">
      <app-range-slider
        [min]="0"
        [max]="1000"
        [initialMinValue]="0"
        [initialMaxValue]="1000"
        (rangeChange)="onRangeChange($event)"
      ></app-range-slider>
      </div>

    <div class="form-group">
      <label for="ocupacion">Ocupación</label>
      <select id="ocupacion" [(ngModel)]="modalOcupacion">
        <option value="" disabled selected>Selecciona una ocupación</option>
        <option value="INDIVIDUAL">INDIVIDUAL</option>
        <option value="DOBLE">DOBLE</option>
        <option value="TRIPLE">TRIPLE</option>
        <option value="CUADRUPLE">CUADRUPLE</option>
        <option value="SUITE">SUITE</option>
      </select>
    </div>

    <div class="form-group">
      <label>Servicios</label>
      <mat-select [(ngModel)]="modalServicios" multiple>
        <mat-option value="COCINA">COCINA</mat-option>
        <mat-option value="TERRAZA">TERRAZA</mat-option>
        <mat-option value="JACUZZI">JACUZZI</mat-option>
      </mat-select>
    </div>

    <button mat-raised-button class="button-blue" (click)="goToHabitaciones()">Buscar</button>
  </div>
</div>
