@import '../../../../../scss/variables';

/* Estructura general */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar-brand-links {
  display: flex;
  align-items: center;
}

.navbar-brand-links span {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-right: 1rem;
}

.separator {
  border-left: 2px solid white; /* Línea vertical */
  height: 30px; /* Altura de la línea */
  margin: 0 1rem; /* Espacio alrededor de la línea */
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  margin-left: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

/* Ocultar la tarjeta inicialmente */
.dropdown-hoteles {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  width: 800px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Mostrar la tarjeta al hacer hover sobre el enlace de Hoteles */
.nav-link-hoteles:hover .dropdown-hoteles {
  display: block;
}

/* Diseño interno de la tarjeta */
.hoteles-card {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* Secciones dentro de la tarjeta */
.section {
  width: 50%; /* Cada sección ocupará un tercio del ancho */
  padding: 0 15px;
  box-sizing: border-box;
}

/* Separadores entre secciones */
.section:not(:last-child) {
  border-right: 1px solid #ddd; /* Línea vertical entre secciones */
}

/* Título de cada sección */
.section h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

/* Columnas internas (Europa y América) */
.section .links-group {
  display: flex;
  justify-content: space-between;
}

.section a {
  font-size: 12px;
}

/* Enlaces dentro de cada sección */
.links a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}

.links a:hover {
  text-decoration: underline;
  color: #007BFF; /* Color de enlace activo */
}


