<div class="navbar">
  <div class="navbar-brand-links">
    <a [routerLink]="'/'" style="text-decoration: none; color: inherit; cursor: pointer;">
      <span>JC Hotel Group</span>
    </a>
    <div class="separator"></div> <!-- Línea separadora -->
    <div class="navbar-links">
      <a routerLink="/hoteles" class="nav-link-hoteles">Hoteles</a>
      <a routerLink="/reservas">Mis Reservas</a>
    </div>
  </div>
  <div>
    <span class="material-icons user-icon" style="color: white; font-size: 25px; cursor: pointer; margin-right: 15px;" (click)="toggleDropdown()">person</span>
    <div class="dropdown-menu dropdown-menu-end profile-notification" *ngIf="showDropdown">
      <div class="dropdown-header">
          <img
            src="assets/images/user/avatar-2.jpg"
            alt="User Avatar"
            class="user-avatar"
          />
          <span class="username">{{ usuario.username }}</span>
      </div>
      <a (click)="mostrarModal()" class="dropdown-item">
        <span class="material-icons">person</span>
        Perfil
      </a>
      <a (click)="logOut()" class="dropdown-item">
        <span class="material-icons">settings</span>
        Cerrar sesión
      </a>
    </div>
  </div>
</div>


<!-- Modal de edición de perfil -->
<div *ngIf="mostrarModalEditarPerfil">
  <div class="modal">
    <div class="modal-content edit-modal">
      <form (ngSubmit)="editUsuario()">
        <div class="modal-columns">
          <!-- Primera columna -->
          <div class="modal-column">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.nombre" name="nombre" required>
            </div>

            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" [(ngModel)]="usuario.username" name="username"
                required>
            </div>

            <div class="form-group">
              <label for="contraseña">Password</label>
              <input type="password" class="form-control" id="contraseña" [(ngModel)]="usuario.password" name="password"
                required>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" [(ngModel)]="usuario.email" name="email" required>
            </div>

            <div class="form-group">
              <label for="fechaNacimiento">Fecha de nacimiento</label>
              <input type="text" class="form-control" id="fechaNacimiento" [(ngModel)]="usuario.fechaNacimiento"
                name="fechaNacimiento" required>
            </div>

          </div>
        </div>

        <div class="button-container">
          <button type="submit" class="btn btn-glow-primary btn-primary">Editar</button>
          <button type="button" class="btn btn-glow-secondary btn-secondary" (click)="ocultarModal()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-notification [showNotification]="showNotification" message="Has actualizado el perfil correctamente" [color]="true"></app-notification>
