<div class="col-xl-12">
  <app-spinner *ngIf="isSpinnerVisible"></app-spinner>
  <app-card
    cardTitle="Lista de Servicios"
    [options]="false"
    blockClass="table-border-style"
  >
  <app-search-bar (searchEvent)="search($event)"></app-search-bar>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of servicios">
            <td>{{ servicio.id }}</td>
            <td>{{ servicio.nombre }}</td>
            <td>{{ servicio.descripcion }}</td>
            <td>{{ servicio.categoria }}</td>
            <td><span class="material-icons edit-icon" style="color: orange;"
              (click)="mostrarModalEditarServicio(servicio.id)"> edit </span>
              <span class="material-icons delete-icon" style="color: red;"
              (click)="mostrarModalEliminarServicio(servicio.id)"> delete </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [totalItems]="totalItems" (pageChange)="onPageChange($event)" (itemsPerPageChange)="onItemPerPageChange($event)"></app-pagination>
  </app-card>
  <app-floating-button (click)="onFloatingButtonClick()"></app-floating-button>
</div>

<!-- Modal eliminar -->
<ng-container *ngIf="mostrarModalEliminar">
  <div class="modal">
    <div class="modal-content delete-modal">
      <span class="close" (click)="ocultarModalEliminarServicio()">&times;</span>
      <p>¿Estás seguro de que deseas eliminar el servicio? Esta operación es irreversible.</p>
      <div class="button-container">
        <button class="btn btn-glow-danger btn-danger" (click)="deleteServicio()">Aceptar</button>
        <button class="btn btn-glow-secondary btn-secondary" (click)="ocultarModalEliminarServicio()">Cancelar</button>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal editar/crear -->

<ng-container *ngIf="mostrarModalEditarCrear">
  <div class="modal">
    <div class="modal-content edit-modal">
      <span class="close" (click)="ocultarModalEditarServicio()">&times;</span>
      <h5>{{ accionModal === 'editar' ? 'Editar Servicio' : 'Añadir Servicio' }}</h5>
      <ng-container *ngIf="accionModal === 'editar'; else addServicioForm">
        <app-edit-service [idServicio]="idServicio" (editComplete)="ocultarModalEditarServicio()"></app-edit-service>
  </ng-container>
  <ng-template #addServicioForm>
    <app-add-service></app-add-service>
  </ng-template>
    </div>
  </div>
</ng-container>
