.pagination-container {
  display: flex;
  justify-content: flex-end;
  padding: 15px 15px 0px 15px;
}

.pagination-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.pagination-buttons {
  display: flex;
  align-items: center; /* Alineación vertical centrada */
}

.pagination-buttons .pagination-button , .pagination-button-NaN{
  border: none;
  border-radius: 50%;
  height: 30px;
  background-color: transparent;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.left {
  margin-left: 5px;
}

.pagination-button-NaN {
  width: 45px;
}

.pagination-button {
  width: 30px;
}

.pagination-buttons .pagination-button.disabled , .pagination-button-NaN.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-buttons .pagination-button.active , .pagination-button-NaN.active {
  background-color: #04a9f5;
  color: #fff;
}

select {
  margin: 0 5px;
}
