

.modal-content p {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.modal-columns {
  display: flex;
}

.modal-column {
  flex: 1;
  padding: 0 15px;
  overflow-y: auto;
  max-height: 430px; /* Altura máxima para permitir el desplazamiento */
}
