.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  width: 80%;
  max-width: 300px;
  border-radius: 0;
  border: none;
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Establecer la dirección de la disposición como columna */
  justify-content: center; /* Centrar verticalmente el contenido */
  align-items: center; /* Centrar horizontalmente el contenido */
  top: 50%; /* Posición vertical centrada */
  transform: translateY(-50%); /* Ajuste para centrar completamente el modal */
}

.card {
  margin-bottom: 0;
}

