<div class="padding">
  <app-spinner *ngIf="isSpinnerVisible"></app-spinner>

  <h3 *ngIf="reservas.length > 0">
    {{ totalItems }} Reserva(s) realizada(s)
  </h3>
  <h3 *ngIf="reservas.length === 0">
    No se encontraron reservas en su historial
  </h3>

  <div class="hoteles-lista">
    <div class="hotel-card" *ngFor="let reserva of reservas">
      <img [src]="'/assets/images/hoteles/' + reserva.hotel.foto" alt="{{ reserva.hotel.nombre }}">
      <div class="hotel-info">
        <h3>{{ reserva.hotel.nombre }}</h3>
        <p>Tipo: {{ reserva.habitacion.tipoHabitacion }}</p>
        <p>Precio: {{ reserva.coste }}€</p>
        <p>Huéspedes: {{ getNombresHuespedes(reserva) }}</p>
        <p>Servicios: {{ (reserva.hotel.servicios.concat(reserva.habitacion.servicios)).join(', ') }}</p>
        <p>Fecha: {{ reserva.checkIn | date: 'dd/MM/yyyy' }} - {{ reserva.checkOut | date: 'dd/MM/yyyy' }}</p>
        <button mat-raised-button class="ver-disponibilidad-button" color="warn" (click)="mostrarModalCancelar(reserva.id)">Cancelar reserva</button>
      </div>
    </div>
  </div>
  <div class="pagination-container" *ngIf="reservas.length > 0">
    <app-pagination [totalItems]="totalItems" (pageChange)="onPageChange($event)"
                    (itemsPerPageChange)="onItemPerPageChange($event)">
    </app-pagination>
  </div>
</div>

<app-notification [showNotification]="showNotification" [message]="message" [color]="color"></app-notification>
