.padding {
  padding: 3% 15%;
}

.hoteles-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.hotel-card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.hotel-card:hover {
  transform: scale(1.02);
}

.hotel-card img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.hotel-info {
  flex: 1;
  padding: 20px;
  position: relative;
}

.hotel-info h3 {
  margin-top: 0;
  font-size: 18px;
}

.hotel-info p {
  margin: 5px 0;
}

.ver-disponibilidad-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 14px;
}

.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 500px;
  width: 90%;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .hotel-info p {
    font-size: 14px;
  }

  .ver-disponibilidad-button {
    font-size: 13px;
    padding: 6px 10px;
    bottom: 12px;
    right: 12px;
  }
}

@media (max-width: 880px) {
  .hotel-card {
    flex-direction: column; /* Apila la tarjeta verticalmente */
    align-items: flex-start;
    position: relative;
  }

  .hotel-card img {
    width: 100%; /* La imagen ocupa el ancho completo */
    height: 350px; /* Ajusta la altura */
    object-fit: cover;
  }

  .hotel-info {
    padding: 15px;
    text-align: left;
    width: 100%;
  }

  .ver-disponibilidad-button {
    font-size: 13px;
    padding: 8px 10px;
    bottom: 15px;
    right: 15px;
  }
}

@media (max-width: 640px) {
  .hotel-card {
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 0; /* Elimina el espacio reservado */
  }

  .hotel-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .hotel-info {
    padding: 15px;
    text-align: left;
  }

  .ver-disponibilidad-button {
    font-size: 14px;
    padding: 10px;
    width: 100%; /* Botón ocupa todo el ancho */
    position: static; /* Sigue el flujo natural */
    margin-top: 10px; /* Espacio superior */
  }
}

@media (max-width: 480px) {
  .hotel-card img {
    height: 200px; /* Ajusta la altura para móviles */
  }

  .hotel-info h3 {
    font-size: 16px;
  }

  .hotel-info p {
    font-size: 12px;
  }

  .ver-disponibilidad-button {
    font-size: 12px;
    padding: 8px;
  }

  .modal-content {
    padding: 15px;
    max-width: 100%;
  }
}
