.notification-wrapper {
  position: fixed;
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%);
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.notification {
  opacity: 1;
  background-color: #44ff00; /* Fondo de la notificación */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
}

.desaparecer {
  animation: fadeOut 2s ease;
}

@keyframes fadeOut {
  70% { opacity: 0.2}
  100% { opacity: 0}
}

.notification.hidden {
  opacity: 0; /* Cuando se aplica la clase 'hidden', la opacidad se establece en 0 */
}

p {
  margin-bottom: 0;
  font-weight: bold;
}
