<div class="col-xl-12">
  <app-spinner *ngIf="isSpinnerVisible"></app-spinner>
  <app-card
    cardTitle="Lista de Habitaciones"
    [options]="false"
    blockClass="table-border-style"
  >
  <app-search-bar (searchEvent)="search($event)"></app-search-bar>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th (click)="order('id')" class="cursor-pointer">ID</th>
            <th (click)="order('numero')" class="cursor-pointer">Número</th>
            <th (click)="order('tipoHabitacion')" class="cursor-pointer">Tipo de Habitación</th>
            <th (click)="order('precioNoche')" class="cursor-pointer">Precio por Noche</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let habitacion of habitaciones">
            <td>{{ habitacion.id }}</td>
            <td>{{ habitacion.numero }}</td>
            <td>{{ habitacion.tipoHabitacion }}</td>
            <td>{{ habitacion.precioNoche }}</td>
            <td><span class="material-icons edit-icon" style="color: orange;"
              (click)="mostrarModalEditarHabitacion(habitacion.id)"> edit </span>
              <span class="material-icons delete-icon" style="color: red;"
              (click)="mostrarModalEliminarHabitacion(habitacion.id)"> delete </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [totalItems]="totalItems" (pageChange)="onPageChange($event)" (itemsPerPageChange)="onItemPerPageChange($event)"></app-pagination>
  </app-card>
  <app-floating-button (click)="onFloatingButtonClick()"></app-floating-button>
</div>

<!-- Modal eliminar -->
<ng-container *ngIf="mostrarModalEliminar">
  <div class="modal">
    <div class="modal-content delete-modal">
      <span class="close" (click)="ocultarModalEliminarHabitacion()">&times;</span>
      <p>¿Estás seguro de que deseas eliminar la habitacion? Esta operación es irreversible.</p>
      <div class="button-container">
        <button class="btn btn-glow-danger btn-danger" (click)="deleteHabitacion()">Aceptar</button>
        <button class="btn btn-glow-secondary btn-secondary" (click)="ocultarModalEliminarHabitacion()">Cancelar</button>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal editar/crear -->

<ng-container *ngIf="mostrarModalEditarCrear">
  <div class="modal">
    <div class="modal-content edit-modal">
      <span class="close" (click)="ocultarModalEditarHabitacion()">&times;</span>
      <h5>{{ accionModal === 'editar' ? 'Editar Habitación' : 'Añadir Habitación' }}</h5>
      <hr>
      <ng-container *ngIf="accionModal === 'editar'; else addHabitacionForm">
        <app-edit-room [idHabitacion]="idHabitacion" (editComplete)="ocultarModalEditarHabitacion()"></app-edit-room>
  </ng-container>
  <ng-template #addHabitacionForm>
    <app-add-room></app-add-room>
  </ng-template>
    </div>
  </div>
</ng-container>
