.view-icon,
.edit-icon,
.delete-icon {
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo semitransparente */
}

.modal-content.delete-modal {
  max-width: 400px;
}

.modal-content.delete-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Sombra */
  margin: auto;
}

.modal-content.edit-modal {
  max-width: 800px;
}

.modal-content.edit-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Sombra */
  margin: auto;
}

.modal-content p {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  /* Distribuir los botones horizontalmente */
  margin-top: 20px;
  /* Espacio entre los botones y el párrafo */
}

.button-container button {
  flex: 1;
  /* Los botones ocupan todo el espacio disponible */
  margin-right: 10px;
  /* Espacio entre los botones */
}

.cursor-pointer {
  cursor: pointer;
}

.expanded-panel {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  margin-top: 10px;
}

/* Nuevo estilo para el modal de detalles */
.modal-view-more {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999; /* Asegurarnos de que esté sobre el resto */
}

.modal-content-view-more {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeInModal 0.3s ease-in-out;
}

@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-header-view-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.modal-header-view-more h5 {
  font-size: 1.5em;
  color: #333;
  margin: 0;
}

.modal-close-icon {
  font-size: 1.5em;
  color: #999;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.modal-close-icon:hover {
  color: #333;
}

.modal-body-view-more {
  padding: 15px;
  font-size: 1em;
  color: #555;
}

.modal-body-view-more p {
  margin-bottom: 10px;
}

.modal-body-view-more h6 {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}

.modal-body-view-more ul {
  list-style-type: disc;
  padding-left: 20px;
}

.modal-body-view-more ul li {
  margin-bottom: 8px;
  color: #777;
}

.modal-footer-view-more {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
}

