<form (ngSubmit)="editHotel()">
  <div class="modal-columns">
    <!-- Primera columna -->
    <div class="modal-column">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="hotel.nombre" name="nombre" required>
        </div>
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input type="text" class="form-control" id="direccion" [(ngModel)]="hotel.direccion" name="direccion"
            required>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="tel" class="form-control" id="telefono" [(ngModel)]="hotel.telefono" name="telefono"
            required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="hotel.email" name="email" required>
        </div>
        <div class="form-group">
          <label for="sitioWeb">Sitio Web</label>
          <input type="url" class="form-control" id="sitioWeb" [(ngModel)]="hotel.sitioWeb" name="sitioWeb"
            required>
        </div>
    </div>
    <!-- Fin de la primera columna -->

    <!-- Segunda columna -->
    <div class="modal-column">
      <!-- Iterar sobre los servicios -->
      <div class="form-group" *ngFor="let servicio of hotel.servicios; let i = index">
        <label for="nombreServicio{{i}}">Nombre del Servicio {{i+1}}</label>
        <input type="text" class="form-control" id="nombreServicio{{i}}" [(ngModel)]="servicio.nombre"
          name="nombreServicio{{i}}" required>

        <label for="descripcionServicio{{i}}">Descripción del Servicio {{i+1}}</label>
        <input type="text" class="form-control" id="descripcionServicio{{i}}" [(ngModel)]="servicio.descripcion"
          name="descripcionServicio{{i}}" required>

        <label for="categoriaServicio{{i}}">Categoría del Servicio {{i+1}}</label>
        <select class="form-control" id="categoriaServicio{{i}}" [(ngModel)]="servicio.categoria"
          name="categoriaServicio{{i}}" required>
          <option value="GIMNASIO">Gimnasio</option>
          <option value="BAR">Bar</option>
          <option value="LAVANDERIA">Lavandería</option>
          <option value="KARAOKE">Karaoke</option>
          <option value="CASINO">Casino</option>
        </select>
      </div>

      <!-- Iterar sobre las habitaciones -->
      <div class="form-group" *ngFor="let habitacion of hotel.habitaciones; let j = index">
        <label for="numeroHabitacion{{j}}">Número de Habitación {{j+1}}</label>
        <input type="text" class="form-control" id="numeroHabitacion{{j}}" [(ngModel)]="habitacion.numero"
          name="numeroHabitacion{{j}}" required>

        <label for="tipoHabitacion{{j}}">Tipo de Habitación {{j+1}}</label>
        <select class="form-control" id="tipoHabitacion{{j}}" [(ngModel)]="habitacion.tipoHabitacion"
          name="tipoHabitacion{{j}}" required>
          <option value="INDIVIDUAL">Individual</option>
          <option value="DOBLE">Doble</option>
          <option value="CUADRUPLE">Cuádruple</option>
          <option value="SUITE">Suite</option>
        </select>

        <label for="precioNoche{{j}}">Precio por Noche {{j+1}}</label>
        <input type="number" class="form-control" id="precioNoche{{j}}" [(ngModel)]="habitacion.precioNoche"
          name="precioNoche{{j}}" required>

        <!-- Puedes continuar agregando más campos para los huéspedes, etc. -->
      </div>
    </div>
    <!-- Fin de la segunda columna -->
  </div>

  <div class="button-container">
    <button type="submit" class="btn btn-glow-primary btn-primary">Editar</button>
    <button type="button" class="btn btn-glow-secondary btn-secondary"
      (click)="ocultarModalEditarHotel()">Cancelar</button>
  </div>
</form>
