<div class="modal-content">
  <form [formGroup]="hotelForm" class="modal-form">
    <div class="modal-columns">
      <!-- Primera columna: Información básica del hotel -->
      <div class="modal-column">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" name="nombre" required>
          <div *ngIf="hotelForm.get('nombre')?.invalid && hotelForm.get('nombre')?.touched" class="error-message">
            El nombre es obligatorio.
          </div>
        </div>
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input type="text" class="form-control" id="direccion" formControlName="direccion" name="direccion" required>
          <div *ngIf="hotelForm.get('direccion')?.invalid && hotelForm.get('direccion')?.touched" class="error-message">
            La dirección es obligatoria.
          </div>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="tel" class="form-control" id="telefono" formControlName="telefono" name="telefono" required>
          <div *ngIf="hotelForm.get('telefono')?.invalid && hotelForm.get('telefono')?.touched" class="error-message">
            El teléfono es obligatorio.
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" name="email" required>
          <div *ngIf="hotelForm.get('email')?.invalid && hotelForm.get('email')?.touched" class="error-message">
            <span *ngIf="hotelForm.get('email')?.errors?.['required']">El email es obligatorio.</span>
            <span *ngIf="hotelForm.get('email')?.errors?.['email']">Debes introducir un email válido.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="sitioWeb">Sitio Web</label>
          <input type="url" class="form-control" id="sitioWeb" formControlName="sitioWeb" name="sitioWeb" required>
          <div *ngIf="hotelForm.get('sitioWeb')?.invalid && hotelForm.get('sitioWeb')?.touched" class="error-message">
            <span *ngIf="hotelForm.get('sitioWeb')?.errors?.['required']">El sitio web es obligatorio.</span>
            <span *ngIf="hotelForm.get('sitioWeb')?.errors?.['pattern']">Introduce un sitio web válido.</span>
          </div>
        </div>
      </div>

      <!-- Segunda columna: Ubicación y servicios -->
      <div class="modal-column">
        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <input type="text" class="form-control" id="ciudad" formControlName="ciudad" name="ciudad" required>
          <div *ngIf="hotelForm.get('ciudad')?.invalid && hotelForm.get('ciudad')?.touched" class="error-message">
            La ciudad es obligatoria.
          </div>
        </div>
        <div class="form-group">
          <label for="pais">País</label>
          <input type="text" class="form-control" id="pais" formControlName="pais" name="pais" required>
          <div *ngIf="hotelForm.get('pais')?.invalid && hotelForm.get('pais')?.touched" class="error-message">
            El país es obligatorio.
          </div>
        </div>
        <div class="form-group">
          <label for="continente">Continente</label>
          <input type="text" class="form-control" id="continente" formControlName="continente" name="continente" required>
          <div *ngIf="hotelForm.get('continente')?.invalid && hotelForm.get('continente')?.touched" class="error-message">
            El continente es obligatorio.
          </div>
        </div>
        <div class="form-group">
          <label for="categoriaServicio">Servicios</label>
          <div *ngFor="let categoria of categorias">
            <input type="checkbox" [value]="categoria" (change)="onCheckboxChange($event)" [checked]="isChecked(categoria)" />
            {{ categoria }}
          </div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button type="submit" class="btn btn-primary" (click)="saveHotel()">Aceptar</button>
      <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cancelar</button>
    </div>
  </form>
</div>
