<div class="col-xl-12">
  <app-spinner *ngIf="isSpinnerVisible"></app-spinner>
  <app-card cardTitle="Lista de Huéspedes" [options]="false" blockClass="table-border-style">
    <app-search-bar (searchEvent)="search($event)"></app-search-bar>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th (click)="order('id')" class="cursor-pointer">ID</th>
            <th (click)="order('nombreCompleto')" class="cursor-pointer">Nombre Completo</th>
            <th (click)="order('dni')" class="cursor-pointer">DNI</th>
            <th (click)="order('email')" class="cursor-pointer">Email</th>
            <th (click)="order('fechaCheckIn')" class="cursor-pointer">Fecha de Check-In</th>
            <th (click)="order('fechaCheckOut')" class="cursor-pointer">Fecha de Check-Out</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let huesped of huespedes">
            <td>{{ huesped.id }}</td>
            <td>{{ huesped.nombreCompleto }}</td>
            <td>{{ huesped.dni }}</td>
            <td>{{ huesped.email }}</td>
            <td>{{ huesped.fechaCheckIn | date:'dd-MM-yyyy HH:mm' }}</td>
            <td>{{ huesped.fechaCheckOut | date:'dd-MM-yyyy HH:mm' }}</td>
            <td><span class="material-icons edit-icon" style="color: orange;"
                (click)="mostrarModalEditarHuesped(huesped.id)"> edit </span>
              <span class="material-icons delete-icon" style="color: red;"
                (click)="mostrarModalEliminarHuesped(huesped.id)"> delete </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [totalItems]="totalItems" (pageChange)="onPageChange($event)"
      (itemsPerPageChange)="onItemPerPageChange($event)"></app-pagination>
  </app-card>
  <app-floating-button (click)="onFloatingButtonClick()"></app-floating-button>
</div>

<!-- Modal eliminar -->
<ng-container *ngIf="mostrarModalEliminar">
  <div class="modal">
    <div class="modal-content delete-modal">
      <span class="close" (click)="ocultarModalEliminarHuesped()">&times;</span>
      <p>¿Estás seguro de que deseas eliminar el huésped? Esta operación es irreversible.</p>
      <div class="button-container">
        <button class="btn btn-glow-danger btn-danger" (click)="deleteHuesped()">Aceptar</button>
        <button class="btn btn-glow-secondary btn-secondary" (click)="ocultarModalEliminarHuesped()">Cancelar</button>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal editar/crear -->

<ng-container *ngIf="mostrarModalEditarCrear">
  <div class="modal">
    <div class="modal-content edit-modal">
      <span class="close" (click)="ocultarModalEditarHuesped()">&times;</span>
      <h5>{{ accionModal === 'editar' ? 'Editar Huésped' : 'Añadir Huésped' }}</h5>
      <hr>
      <ng-container *ngIf="accionModal === 'editar'; else addHuespedForm">
        <app-edit-guest [idHuesped]="idHuesped" (editComplete)="ocultarModalEditarHuesped()"></app-edit-guest>
      </ng-container>
      <ng-template #addHuespedForm>
        <app-add-guest (cancelarCrear)="ocultarModalEditarHuesped()"></app-add-guest>
      </ng-template>
    </div>
  </div>
</ng-container>
