<div class="modal-content">
  <form (ngSubmit)="onSubmit()" class="modal-form">
    <div class="modal-columns">
      <div class="modal-column">

        <div class="form-group">
          <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" [(ngModel)]="rol.nombre" required #nombre="ngModel"
             />
             <div *ngIf="nombre.invalid && nombre.touched" class="error-message">
              El nombre es obligatorio.
            </div>
        </div>

        <div class="form-group">
          <label for="descripcion" class="col-sm-3 col-form-label">Descripción</label>
          <input type="text" class="form-control" id="descripcion" placeholder="Descripción" [(ngModel)]="rol.descripcion" required #descripcion="ngModel"
            />
            <div *ngIf="descripcion.invalid && descripcion.touched" class="error-message">
              La descripción es obligatoria.
            </div>
        </div>

        <div class="listaPermisos">
          <div *ngFor="let permiso of permisos">
            <label>
              <input type="checkbox" [checked]="rolTienePermiso(permiso)" (change)="anadirPermiso(permiso)">
              {{ permiso.descripcion }}
            </label>
          </div>
        </div>

        <div class="button-container">
          <button type="button" (click)="onSubmit()" class="btn btn-primary"
            title="btn btn-glow-primary btn-primary" data-toggle="tooltip">Aceptar</button>
          <button type="button" class="btn btn-secondary"
            (click)="ocultarModalCrearRol()">Cancelar</button>
        </div>

      </div>
    </div>
  </form>
</div>
