/* You can add global styles to this file, and also import other style files */

@import "scss/variables";

/* fonts-icon */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "scss/fonts/fontawesome/scss/fontawesome";
//@import "scss/fonts/feather/iconfont";



@import "scss/general";
@import "scss/generic";
@import "scss/mixins/function";

/* important element */
@import "scss/menu/menu-lite";

/* basic elements */
@import "scss/theme-elements/theme-elements";

/* third party modules style*/
@import "scss/plugins/plugins";

@import "scss/custom";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

h3, h2 {
  color: $secondary-color-blue;
}

a {
  color: $primary-color;
}

.button-blue {
  background-color: $secondary-color-blue !important;
  color: white !important;
}

.error-message {
  color: #dc3545; /* Color rojo para el error */
  font-size: 0.75rem; /* Tamaño de fuente más pequeño */
  text-align: left; /* Alineación del texto a la izquierda */
  z-index: 9999;
}

.button-container {
  display: flex;
  justify-content: end;
}

mat-select {
  height: 45px; /* Ajusta la altura del selector */
  border: 1px solid #ccc; /* Añade un borde negro */
  border-radius: 5px;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  padding: 0 12px; /* Espaciado interno */
  box-sizing: border-box;

  .mat-mdc-select-value {
    display: flex !important;
    align-items: center; /* Centra verticalmente el texto */
    width: 100%; /* Asegura que ocupa todo el espacio */
    margin-top: 10px !important;
  }

  ::ng-deep .mat-option.mat-selected .mat-pseudo-checkbox .mat-pseudo-checkbox-full .mat-pseudo-checkbox-checked {
    background-color: $secondary-color-blue !important;
  }

}
