/* You can add global styles to this file, and also import other style files */

@import "scss/variables";

/* fonts-icon */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "scss/fonts/fontawesome/scss/fontawesome";
//@import "scss/fonts/feather/iconfont";



@import "scss/general";
@import "scss/generic";
@import "scss/mixins/function";

/* important element */
@import "scss/menu/menu-lite";

/* basic elements */
@import "scss/theme-elements/theme-elements";

/* third party modules style*/
@import "scss/plugins/plugins";

@import "scss/custom";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

h3, h2 {
  color: $secondary-color-blue;
}

a {
  color: $primary-color;
}

.button-blue {
  background-color: $secondary-color-blue !important;
  color: white !important;
}

.error-message {
  color: #dc3545; /* Color rojo para el error */
  font-size: 0.75rem; /* Tama침o de fuente m치s peque침o */
  text-align: left; /* Alineaci칩n del texto a la izquierda */
  z-index: 9999;
}

.button-container {
  display: flex;
  justify-content: end;
}
