<div class="background-image">
  <div class="search-filter-container">
   <!-- Select de Destino -->
   <div class="form-group">
    <label for="destino">Destino</label>
    <select id="destino" [(ngModel)]="selectedCity">
      <option value="" disabled selected>Seleccione un destino</option>
      <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
    </select>
  </div>

  <app-date-picker label="Check-in" [(model)]="checkIn"></app-date-picker>

  <app-date-picker label="Check-out" [(model)]="checkOut" [minDate]="checkIn || ''"></app-date-picker>


  <!-- Select de Ocupación -->
  <div class="form-group">
    <label for="ocupacion">Ocupación</label>
    <select id="ocupacion" [(ngModel)]="selectedOcupacion">
      <option value="" disabled selected>Seleccione la ocupación</option>
      <option *ngFor="let tipo of ocupacionArray" [value]="tipo">{{ tipo }}</option>
    </select>
  </div>

    <button class="button-blue" type="submit" (click)="buscar()">Buscar</button>
  </div>

</div>

<div class="servicios">
  <h2>JC Hotel Group: ¡Disfruta de una gran variedad de servicios!</h2>
  <div class="cards-container">
    <div class="card" *ngFor="let card of cards">
      <img [src]="'/assets/images/servicios/' + card.image" alt="{{ card.title }}">
      <div class="card-content" (click)="filtrarPorServicio(card.key)">
        <p>{{ card.description }}</p>
      </div>
    </div>
  </div>
</div>

<div class="hoteles">
  <ng-container *ngFor="let continente of ubicacionesPorContinente | keyvalue">
    <h3>Hoteles en {{ continente.key }}</h3>
    <hr />
    <div class="ciudades">
      <span *ngFor="let hotel of continente.value" class="ciudad" (click)="filtrarPorCiudad(hotel.ciudad)">
        {{ hotel.ciudad }}
      </span>
    </div>
  </ng-container>
</div>
