<form (ngSubmit)="editServicio()">
  <div class="modal-columns">
    <!-- Primera columna -->
    <div class="modal-column">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="servicio.nombre" name="nombre" required>
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input type="text" class="form-control" id="descripcion" [(ngModel)]="servicio.descripcion" name="descripcion"
            required>
        </div>

        <div class="form-group">
          <label for="categoria">Categoría</label>
          <select class="form-control" id="categoria" [(ngModel)]="servicio.categoria"  required>
            <option value="" selected disabled>Elige una categoría</option>
            <option value="GIMNASIO">Gimnasio</option>
            <option value="BAR">Bar</option>
            <option value="LAVANDERIA">Lavandería</option>
            <option value="KARAOKE">Karaoke</option>
            <option value="CASINO">Casino</option>
          </select>
        </div>


    </div>
  </div>

  <div class="button-container">
    <button type="submit" class="btn btn-glow-primary btn-primary">Editar</button>
    <button type="button" class="btn btn-glow-secondary btn-secondary"
      (click)="ocultarModalEditarServicio()">Cancelar</button>
  </div>
</form>


<app-notification [showNotification]="showEditarServicioNotification" message="Servicio editado con éxito" [color]="true"></app-notification>
<app-notification [showNotification]="showEditarServicioErrorNotification" message="No tienes permisos para editar un servicio" [color]="false"></app-notification>

