<div class="col-xl-12">
  <!-- Mostrar el spinner mientras se cargan los datos -->

  <app-spinner *ngIf="isSpinnerVisible"></app-spinner>

  <app-card cardTitle="Lista de Hoteles" [options]="false" blockClass="table-border-style">
    <app-search-bar (searchEvent)="search($event)"></app-search-bar>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th (click)="order('id')" class="cursor-pointer">ID</th>
            <th (click)="order('nombre')" class="cursor-pointer">Nombre</th>
            <th (click)="order('direccion')" class="cursor-pointer">Dirección</th>
            <th (click)="order('telefono')" class="cursor-pointer">Teléfono</th>
            <th (click)="order('email')" class="cursor-pointer">Email</th>
            <th (click)="order('sitioWeb')" class="cursor-pointer">Sitio Web</th>
            <th>Habitaciones totales</th>
            <th>Habitaciones Disponibles</th>
            <th>Habitaciones Reservadas</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hotel of hoteles">
            <td>{{ hotel.id }}</td>
            <td>{{ hotel.nombre }}</td>
            <td>{{ hotel.direccion }}</td>
            <td>{{ hotel.telefono }}</td>
            <td>{{ hotel.email }}</td>
            <td>{{ hotel.sitioWeb }}</td>
            <td>{{ hotel.numeroHabitaciones }}</td>
            <td>{{ hotel.numeroHabitacionesDisponibles }}</td>
            <td>{{ hotel.numeroHabitacionesReservadas }}</td>
            <td><span class="material-icons edit-icon" style="color: orange;"
                (click)="mostrarModalEditarHotel(hotel.id)"> edit </span>
              <span class="material-icons delete-icon" style="color: red;"
                (click)="mostrarModalEliminarHotel(hotel.id)"> delete </span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [totalItems]="totalItems" (pageChange)="onPageChange($event)"
      (itemsPerPageChange)="onItemPerPageChange($event)"></app-pagination>
  </app-card>
  <app-floating-button (click)="onFloatingButtonClick()"></app-floating-button>
</div>

<!-- Modal eliminar -->
<ng-container *ngIf="mostrarModalEliminar">
  <div class="modal">
    <div class="modal-content delete-modal">
      <span class="close" (click)="ocultarModalEliminarHotel()">&times;</span>
      <p>¿Estás seguro de que deseas eliminar el hotel? Esta operación es irreversible.</p>
      <div class="button-container">
        <button class="btn btn-glow-danger btn-danger" (click)="deleteHotel()">Aceptar</button>
        <button class="btn btn-glow-secondary btn-secondary" (click)="ocultarModalEliminarHotel()">Cancelar</button>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal editar/crear -->

<ng-container *ngIf="mostrarModalEditarCrear">
  <div class="modal">
    <div class="modal-content edit-modal">
      <span class="close" (click)="ocultarModalEditarHotel()">&times;</span>
      <h5>{{ accionModal === 'editar' ? 'Editar Hotel' : 'Añadir Hotel' }}</h5>
      <hr>
      <ng-container *ngIf="accionModal === 'editar'; else addHotelForm">
        <app-edit-hotel [idHotel]="idHotel" (editComplete)="ocultarModalEditarHotel()"></app-edit-hotel>
      </ng-container>
      <ng-template #addHotelForm>
        <app-add-hotel (cancelarCrear)="ocultarModalEditarHotel()"></app-add-hotel>
      </ng-template>
    </div>
  </div>
</ng-container>
