<div class="col-xl-12">
  <!-- Mostrar el spinner mientras se cargan los datos -->

  <app-spinner *ngIf="isSpinnerVisible"></app-spinner>

  <app-card cardTitle="Lista de Hoteles" [options]="false" blockClass="table-border-style">
    <app-search-bar (searchEvent)="search($event)"></app-search-bar>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Sitio Web</th>
            <th>Habitaciones totales</th>
            <th>Habitaciones Disponibles</th>
            <th>Habitaciones Reservadas</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hotel of hoteles">
            <td>{{ hotel.id }}</td>
            <td>{{ hotel.nombre }}</td>
            <td>{{ hotel.direccion }}</td>
            <td>{{ hotel.telefono }}</td>
            <td>{{ hotel.email }}</td>
            <td>{{ hotel.sitioWeb }}</td>
            <td>{{ hotel.numeroHabitaciones }}</td>
            <td>{{ hotel.numeroHabitacionesDisponibles }}</td>
            <td>{{ hotel.numeroHabitacionesReservadas }}</td>
            <td><span class="material-icons edit-icon" style="color: orange;"
                (click)="mostrarModalEditarHotel(hotel.id)"> edit </span>
              <span class="material-icons delete-icon" style="color: red;"
                (click)="mostrarModalEliminarHotel(hotel.id)"> delete </span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [totalItems]="totalItems" (pageChange)="onPageChange($event)"
      (itemsPerPageChange)="onItemPerPageChange($event)"></app-pagination>
  </app-card>
  <app-floating-button (click)="onFloatingButtonClick()"></app-floating-button>
</div>

<!-- Modal eliminar -->
<ng-container *ngIf="mostrarModalEliminar">
  <div class="modal">
    <div class="modal-content delete-modal">
      <span class="close" (click)="ocultarModalEliminarHotel()">&times;</span>
      <p>¿Estás seguro de que deseas eliminar el hotel? Esta operación es irreversible.</p>
      <div class="button-container">
        <button class="btn btn-glow-danger btn-danger" (click)="deleteHotel()">Aceptar</button>
        <button class="btn btn-glow-secondary btn-secondary" (click)="ocultarModalEliminarHotel()">Cancelar</button>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal editar/crear -->

<ng-container *ngIf="mostrarModalEditarCrear">
  <div class="modal">
    <div class="modal-content edit-modal">
      <span class="close" (click)="ocultarModalEditarHotel()">&times;</span>
      <h5>{{ accionModal === 'editar' ? 'Editar Hotel' : 'Añadir Hotel' }}</h5>
      <ng-container *ngIf="accionModal === 'editar'; else addHotelForm">
      <form (ngSubmit)="editHotel()">
      <div class="modal-columns">
        <!-- Primera columna -->
        <div class="modal-column">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" [(ngModel)]="hotel.nombre" name="nombre" required>
            </div>
            <div class="form-group">
              <label for="direccion">Dirección</label>
              <input type="text" class="form-control" id="direccion" [(ngModel)]="hotel.direccion" name="direccion"
                required>
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="tel" class="form-control" id="telefono" [(ngModel)]="hotel.telefono" name="telefono"
                required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="hotel.email" name="email" required>
            </div>
            <div class="form-group">
              <label for="sitioWeb">Sitio Web</label>
              <input type="url" class="form-control" id="sitioWeb" [(ngModel)]="hotel.sitioWeb" name="sitioWeb"
                required>
            </div>
        </div>
        <!-- Fin de la primera columna -->

        <!-- Segunda columna -->
        <div class="modal-column">
          <!-- Iterar sobre los servicios -->
          <div class="form-group" *ngFor="let servicio of hotel.servicios; let i = index">
            <label for="nombreServicio{{i}}">Nombre del Servicio {{i+1}}</label>
            <input type="text" class="form-control" id="nombreServicio{{i}}" [(ngModel)]="servicio.nombre"
              name="nombreServicio{{i}}" required>

            <label for="descripcionServicio{{i}}">Descripción del Servicio {{i+1}}</label>
            <input type="text" class="form-control" id="descripcionServicio{{i}}" [(ngModel)]="servicio.descripcion"
              name="descripcionServicio{{i}}" required>

            <label for="categoriaServicio{{i}}">Categoría del Servicio {{i+1}}</label>
            <select class="form-control" id="categoriaServicio{{i}}" [(ngModel)]="servicio.categoria"
              name="categoriaServicio{{i}}" required>
              <option value="GIMNASIO">Gimnasio</option>
              <option value="BAR">Bar</option>
              <option value="LAVANDERIA">Lavandería</option>
              <option value="KARAOKE">Karaoke</option>
              <option value="CASINO">Casino</option>
            </select>
          </div>

          <!-- Iterar sobre las habitaciones -->
          <div class="form-group" *ngFor="let habitacion of hotel.habitaciones; let j = index">
            <label for="numeroHabitacion{{j}}">Número de Habitación {{j+1}}</label>
            <input type="text" class="form-control" id="numeroHabitacion{{j}}" [(ngModel)]="habitacion.numero"
              name="numeroHabitacion{{j}}" required>

            <label for="tipoHabitacion{{j}}">Tipo de Habitación {{j+1}}</label>
            <select class="form-control" id="tipoHabitacion{{j}}" [(ngModel)]="habitacion.tipoHabitacion"
              name="tipoHabitacion{{j}}" required>
              <option value="INDIVIDUAL">Individual</option>
              <option value="DOBLE">Doble</option>
              <option value="CUADRUPLE">Cuádruple</option>
              <option value="SUITE">Suite</option>
            </select>

            <label for="precioNoche{{j}}">Precio por Noche {{j+1}}</label>
            <input type="number" class="form-control" id="precioNoche{{j}}" [(ngModel)]="habitacion.precioNoche"
              name="precioNoche{{j}}" required>

            <!-- Puedes continuar agregando más campos para los huéspedes, etc. -->
          </div>
        </div>
        <!-- Fin de la segunda columna -->
      </div>

      <div class="button-container">
        <button type="submit" class="btn btn-glow-primary btn-primary">Editar</button>
        <button type="button" class="btn btn-glow-secondary btn-secondary"
          (click)="ocultarModalEditarHotel()">Cancelar</button>
      </div>
    </form>
  </ng-container>
  <ng-template #addHotelForm>
    <app-add-hotel></app-add-hotel>
  </ng-template>
    </div>
  </div>
</ng-container>

